body {
        background:#eee repeat-x top;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
        color:#333;
        padding: 0px;
        margin:0 auto;
        min-width: auto; 
        max-width: 680px;
	float:center;
}
body:after {
        content:" 2015 - lopetro@gmail.com";
        background:#f3f3f3;
        display:block;
        text-align:left;
        border-top:1px solid #ddd;
        padding:6px;
        font-size: inherit;
}
img {
	position: relative;
	top: 1px;
	margin: -1px 2px -1px -1px;
        max-width:100%;
}
a{color:#3b5998}
a:hover {font-weight:bold;text-decoration:none;}
a:visited,a:link {text-decoration:none;}
a.dlink, .navp a {background-color: #199bd6;padding:1px 6px;color:#fff !important;text-decoration:none;}
input,select,textarea {
    color: #828282;
    margin: 1px;
    padding: 4px;
    border: 1px solid #e3e3e3;
    background: #fff;
}
input:hover,select:hover,textarea:hover {
    color: #7a7a7a;
    margin: 1px;
    padding: 4px;
    border: 1px solid #199bd6;
}
input[type=submit] {
color: #fff;
    background: #199bd6;
    padding: 5px;
    margin: 1px;
    border-style: none;
    cursor: pointer;
}
input[type=submit]:hover {
    color: #333;
    margin: 1px;
    background: #f2f2f2;
    border: 1px solid #199bd6;
    padding: 4px;
}
b, strong {font-weight: bold;}
b:hover, strong:hover {text-decoration:underline;}

/* Header */

/* Main Menu */

#header-wrapper {background:#transparent;}
#header-wrapper .logo {background-color: #e8e8e8; border-top: 2px solid #50a7e6; border-right: 1px solid #50a7e6; border-left: 2px solid #50a7e6; padding: 3px 6px;}
#header-wrapper .logo h1{padding: 2px;font-size:15px;margin:1px;}
#header-wrapper .logo img{width:35%;max-height:30px;}
#header-wrapper .nav {background-color: #199bd6;text-align:right;padding:6px 0px;display:block;}
#header-wrapper .nav a{padding:6px 15px;color:#fff !important;text-decoration:none;border-left:1px solid rgba(0,0,0,0.1)}
#header-wrapper .nav a:hover{background:rgba(0,0,0,0.1) !important;}
#header-wrapper .profil{border-bottom:solid 1px #50a7e6;padding:2px 3px;}
#header-wrapper .msg{background-color: #fff;border:solid 1px #50a7e6;padding:3px 6px;}
#header-wrapper .navbar ,.thmlink{text-align:left;padding:5px 3px;border-bottom:solid 1px #ddd;display:block;}
#header-wrapper .navbar a,.thmlink a{background-color: #199bd6;padding:1px 6px;color:#fff !important;text-decoration:none;}

/* Content */
#content-wrapper .list .list-entry {background:#fff; padding:3px 6px;border-bottom:solid 1px #eee;line-height:18px;overflow:hidden}
#content-wrapper .list .list-entry {color:#333}, .list-entry a{color:#3b5998}
#content-wrapper .list h2,#content-wrapper .list h3{margin:0;padding:4px 6px;background:#f3f3f3;border-bottom:solid 1px #ddd;font-size: inherit;}
#content-wrapper .pagination .numb {background-color: #199bd6;text-align:left;padding:6px;display:block;}
#content-wrapper .pagination .numb {color:#fff}
#content-wrapper .pagination .jump {background-color: #fff;text-align:left;padding:3px;display:block;}
#content-wrapper .view .title {background-color: #fff;text-align:left;padding:3px 0px;border-bottom:solid 1px #ddd;display:block;}
#content-wrapper .view .detail {background-color: #fff;text-align:left;padding:2px 8px;}
#content-wrapper .view .downlink {background-color: #fff;text-align:center;}
#content-wrapper .view .sharelink {background-color: #fff;text-align:left;padding:4px 8px;}

/* User */
#user .post, .profile {background:#fff; padding:3px 6px;border-bottom:solid 1px #eee;display:block}
#user .post, .profile {color:#333}, .post a{color:#3b5998}
#user .post img{max-width:60px;}
#user .pagination .numb {background-color: #199bd6;text-align:left;padding:6px 5px;display:block;}
#user .pagination .numb {color:#fff}
#user .pagination .jump {background-color: #fff;text-align:left;padding:3px 6px;display:block;}
#user .comment {background:#fff; padding:3px 6px;border-bottom:solid 1px #eee;}
#user .comment img{max-width:60px}

/* Footer */
#footer .ads {background:#fff; padding:3px 8px;border:solid 1px #50a7e6;}
#footer .navl {background-color: #199bd6;text-align:left;padding:6px 0px;display:block;}
#footer .navl a{padding:3px 6px;color:#fff !important;text-decoration:none;}
#footer .navl a:hover{text-decoration:underline;}
#footer .flink, #footer .friends{text-align:center;padding-top:2px}

/* Other */
h3.barl {margin:0;padding:3px 6px;background:#f3f3f3;border-bottom:solid 1px #ddd;font-size: inherit;}
h3.barl a{margin:0;padding:2px 4px;font-size: 14px}
h3.barl a:hover{text-decoration:underline;}
.note{background:#fff; padding:3px 6px;}
.search, .ads{background:#fff; padding:3px 8px;}
.search:hover, .ads:hover{border-left:3px solid #50a7e6;}
.breadcrumb, .title{margin:0;padding:3px 6px;background:#f3f3f3;border-bottom:solid 1px #ddd;font-size: inherit;}
.breadcrumb h2, .title h2{margin:0;padding:0px;font-size: 14px;}
.list-a ,.main{background:#fff; padding:3px 6px;border-bottom:solid 1px #eee;line-height:18px;overflow:hidden}
.paging {padding:3px 6px;}
.notif {background:#fff; padding:3px 6px;border:solid 1px #50a7e6;}
.razdl {margin:0;padding:3px 6px;background:#f3f3f3;border-top:solid 1px #50a7e6;font-size: inherit;}
.navp {padding:3px 6px;}
.left {float:left;text-align:left;}
.right {float:right;text-align:right;
